.mainBody{
    
        background-image: url("../src/images/med3.jpg");
        overflow: hidden;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
      
}