.main {
  /* height: 150vh;
  background-size: cover;
  background-attachment: fixed;
 margin-top: 120px;
  margin-top: 15px;
  background-image: 
    url(../../images/med3.jpg);
  text-align: center; */
  background-color: #541212;
  color: rgb(27, 43, 57);
  /* height: 160vh; */
  /* width: 99.8vw; */
  background-size: cover;
  background-attachment: fixed;
 
  /* margin-top: 15px; */
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(
      rgba(99, 99, 99, 0.85),
      rgba(217, 222, 227, 0.85)
      
    ),
    url(./signupbg.jpg);
  /* text-align: center; */
}
