.bgimg{
    background-color: #541212;
    color: rgb(27, 43, 57);
    height: 100vh;
    width: 99.8vw;
    background-size: cover;
    background-attachment: fixed;
   
    margin-top: -15px;
    padding-top: 50px;
    background-image: linear-gradient(
        rgba(99, 99, 99, 0.85),
        rgba(217, 222, 227, 0.85)
        
      ),
      url(./signupbg.jpg);
    /* text-align: center; */
}