.main {
  height: 70vh;
  /* width: 99vw; */
  background-size: cover;
  background-attachment: fixed;
 
  /* margin-top: 15px; */
  background-image: linear-gradient(
      rgba(63, 133, 190, 0.85),
      rgba(28, 85, 133, 0.85)
      
    ),
    url(../../images/partners.jpg);
  text-align: center;
}

.main h3 {
  padding: 30px 0;
  font-size: 35px;
  color: #fff;
}

.box {
    position: relative;

  width: 80%;
  margin: 0 auto;
  height: 40%;
  border-radius: 0 0 20px 20px;
  background-color: rgb(241, 241, 241);
  
}

.images {
  display: flex;
}
.imgs:hover    {
  /* transform: scale(1.3); */
  /* opacity: 0.5; */
  transition: transform .4s ease-out;
  transform: scale(1.2);
  overflow: hidden
 
}
.imgs    {
  transform-origin: 65% 75%;
  transition: transform 1s, filter .5s ease-out;
  /* opacity: 0.5; */
  transition: transform .4s ease-out;
  transform: scale(1);
  overflow: hidden
}
.images img {
  margin-top: 35px;
  margin-left: 12px;
  border: 1px solid gray;
  height: 60px;
  width: 150px;
  
}
.bus_background {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(26, 25, 25, 0.733);

  border-radius: 20px 20px 0 0;
}

.bus_background p {
  padding: 0;
  margin: 0;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
  background-color: rgb(78, 91, 94);
}


/* .container {
  position: relative;
  /* width: 50%; */

/* 
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .1s ease;
  backface-visibility: hidden;
} */
/* 
.middle {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #bebec2;
  color: rgb(1, 1, 1);
  font-size: 13px;
  padding: 4px 8px;
} */